@model IEnumerable<Switchr.Models.Game>

@{
    ViewBag.Title = "Games";
}

<h2>Games</h2>

@Html.ActionLink("Add a game", "New", "Games", null, new { @class = "btn btn-primary" })

<table id="games" class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Games</th>
            <th>Genre</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>

</table>

@section scripts
{
    <script>
        $(document).ready(function () {

            var table = $("#games").DataTable({
                ajax: {
                    url: "/api/games",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, game) {
                            return "<a href='/games/edit/" + game.id + "'>" + game.name + "</a>";
                        }
                    },
                    {
                        data: "gameType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-link js-delete' data-game-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}